<div layout="column" layout-fill>
    <md-toolbar>

        <div class="md-toolbar-tools">
            <h2 md-truncate flex>AngulaRank</h2>

            <md-button  ng-click="$homeCtrl.sortByContributors()">
                Contributions
            </md-button>
            <md-button ng-click="$homeCtrl.sortByFollowers()">
                Followers
            </md-button>
            <md-button ng-click="$homeCtrl.sortByRepos()">
                Repos
            </md-button>
            <md-button ng-click="$homeCtrl.sortByGists()">
                Gists
            </md-button>
        </div>

    </md-toolbar>
    <h1 class="sorted_by">Sorted by: {{$homeCtrl.textFromNameMap($homeCtrl.currentFilter)}}</h1>
    <md-content>
        <div class="mainContainer">
                <user-list users="$homeCtrl.userList" show-property="$homeCtrl.userFilter"></user-list>
        </div>
    </md-content>
</div>
<div id="popupContainer"></div>
